<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".ui.MyApp"
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="s">
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.home.DrawerActivity" />
        <activity
            android:name=".ui.agent.AddAgentActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.auth.SignUpActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.auth.ChangePasswordActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.agent.AgentsStatusWiseListActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.agent.PushMoneyActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.agent.DetailAgentActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.collectBanks.CollectBankActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.report.ReportActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.home.DashBoardActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.balRequest.BalanceRequest"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".ui.bankDetails.BankDetailsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.businessView.BusinessViewActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.businessReport.BusinessReportActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".ui.commission.CommissionActivity"
            android:configChanges="screenSize|orientation" />

        <activity
            android:name=".ui.agentkyc.UploadDocumentActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".ui.report.agent.AgentReportActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.agent.UpdateAgentAutoCreditActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".ui.agent.UpdateAgentServiceActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>