name: Android CI

on:
  push:
    branches:
      - "*"
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 15
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '15'
    - name: Build with Gradle
      run: ./gradlew bundle
    - name: Bundle Release
      run: |
        ./gradlew bundleRelease
        mv app/build/outputs/bundle/release/app-release.aab distributor.aab
    - name: Upload aab
      uses: actions/upload-artifact@v3
      with:
        name: distributor
        path: distributor.aab

